<h1 id="tableLabel">Articles</h1>
<p *ngIf="!articles"><em>Loading...</em></p>
<form [formGroup]="form">
  <input (ngModelChange)="fetchArticles(form.controls.input.value)" formControlName="input">
</form>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="articles">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let article of articles[0].artikli">
      <td>{{ article.id }}</td>
      <td>{{ article.naziv }}</td>
    </tr>
  </tbody>
</table>